
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Your Cart</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table" id="cart" style="visibility:hidden; width:100%">
            <thead>
                 <tr>
                     <th>Product</th>
                     <th>Price</th>
                     <th>Qty</th>
                     <th>Total</th>
                     <th></th>
                </tr>
            </thead>
            
            <tbody id="cartBody">
     
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <a href="/cart" class="btn btn-md btn-succ-border">View Total and Checkout</a>
          <button type="button" class="btn btn-md btn-succ"  data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  