
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-white shadow">
        <div class="container">
          <a class="navbar-brand mr-auto mr-lg-0" href="/"></a>
          <button
            id="nav-icon0"
            class="navbar-toggler mt-2 p-0 border-0"
            type="button"
            data-toggle="offcanvas"
          >
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </button>
  
          <div
            class="navbar-collapse offcanvas-collapse"
            id="navbarsExampleDefault"
          >
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="/courses" >Courses</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contactus">Contact Us</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="/cart">Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
              </li> -->

              <li class="nav-item">
                <a class="nav-link" href="#"  data-toggle="modal" data-target="#exampleModal">Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </a>
              </li>


              <!-- <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  id="dropdown01"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  style="cursor: pointer;"
                  >Settings</a
                >
                <div class="dropdown-menu border-0" aria-labelledby="dropdown01">
                  <a class="dropdown-item" href="#">Action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>  -->

            </ul>

        
          <% if( loginUsername ) { %>

            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    id="dropdown01"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    style="cursor: pointer;"
                    >
                    <i class="fa fa-address-book-o mr-2" aria-hidden="true"></i>
                    My Account</a
                  >
                  <div class="dropdown-menu border-0" aria-labelledby="dropdown01">
                    <a class="dropdown-item mr-2" href="/dashboard">
                      <i class="fa fa-inbox mr-2" aria-hidden="true"></i>
                      Dashboard</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item mr-2" href="/profile">
                      <i class="fa fa-user mr-2" aria-hidden="true"></i>
                      My Profile</a>
                    <div class="dropdown-divider"></div>
                    <a style="color: rgb(206, 2, 2);" href="/logout" class="dropdown-item mr-2">
                      <i class="fa fa-sign-out m-2" aria-hidden="true"></i>
                      Log Out
                    </a>
                  </div>
                </li>
                <p class="text-muted mt-2" style="font-size: 12px;">
                  
                </p>
              </li>
              <li class="nav-item">

              </li>
            </ul>



          <% } else {  %>

            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a href="/login/" class="btn btn-md btn-succ">
                  Log In
                </a>
              </li>
              <li class="nav-item">
                <a href="/register/" class="btn btn-md btn-succ-border">
                  Register
                </a>
              </li>
            </ul>

          <% } %>

          </div>
        </div>
      </nav>
  
  