<div class="container p-3">
  <button
    type="button"
    class="btn btn-primary btn-sm"
    data-toggle="modal"
    data-target="#newClass"
  >
    Create a new class
  </button>
</div>
<div class="container">
  <h3>My Classes</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Class</th>
        <th scope="col">Timings</th>
        <th scope="col">Join</th>
      </tr>
    </thead>
    <tbody>
      <% user.classes.forEach(course=> { %>
      <tr>
        <td><%= course.title %></td>
        <td><%= course.class %></td>
        <td><%= course.timing %></td>
        <td>
          <button
            type="button"
            class="btn btn-success btn-sm join"
            data-join="<%= course.id %>"
          >
            Start Class
          </button>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="newClass"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New class</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="myForm" action="/user/create" method="post" novalidate>
          <div class="form-group">
            <input
              type="text"
              name="title"
              class="form-control my-input"
              placeholder="Title"
              required
            />
            <div class="invalid-feedback">Please give a title</div>
          </div>
          <div class="form-group">
            <label for="select-class">Select Class</label>
            <select class="form-control" id="select-class" name="standard">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
            </select>
          </div>
          <div class="form-group">
            <input
              type="text"
              name="timing"
              class="form-control my-input"
              placeholder="Timings"
              required
            />
          </div>
          <div class="form-group">
            <div id="students"></div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" id="newClass_btn">
          Create
        </button>
      </div>
    </div>
  </div>
</div>
<style>
  .student {
    display: flex;
    padding: 10px 5px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.3px solid lightgray;
  }
  .student:nth-of-type(2n) {
    background-color: whitesmoke;
  }
</style>
<script>
  const newClassBtn = document.getElementById("newClass_btn");
  const form = document.getElementById("myForm");
  const selectClass = document.getElementById("select-class");
  const allStudents = document.getElementById("students");
  let students = [];
  fetch("/user/create")
    .then((res) => res.json())
    .then((data) => {
      students = data.students;
      render(
        students.filter((student) => student.class === "1"),
        1
      );
    })
    .catch((err) => console.log(err));

  newClassBtn.addEventListener("click", () => {
    form.submit();
  });
  selectClass.addEventListener("change", (e) => {
    render(
      students.filter((student) => student.class === `${e.target.value}`),
      e.target.value
    );
  });
  function render(students, standard) {
    clear(allStudents);
    allStudents.innerHTML =
      students.length === 0
        ? `<b>No class ${standard} students</b>`
        : `<b>Class ${standard} students:</b>`;
    students.forEach((student) => {
      allStudents.innerHTML += `<div class="student">
              <label for="${student._id}">${student.username}</label>
              <input type="checkbox" id="${student._id}" name="student" value="${student._id}"/>
            </div>`;
    });
  }
  function clear(element) {
    while (element.firstChild) {
      element.removeChild(element.firstChild);
    }
  }
</script>
<!--  -->
<!--  -->

<!-- const div = document.createElement('div')
      div.classList.add('student')
      const span = document.createElement('span')
      span.innerText = student.username
      const btn = document.createElement('button')
      button.classList.add('add-student')
      btn.dataset.id = student._id
      div.appendChild(span)
      div.appendChild(btn)
      allStudents.appendChild(div) -->
