<!-- Footer -->
<section class="footer">

    <div class="container">
    <div class="row text-white">
      <div class="col-12 col-md-6 mx-auto">
        <h2 class="m-4">7xStudy.com</h2>
        <span><h5>
          <i class="fa fa-book" aria-hidden="true"></i>
          Learn |  </span>
        <span>
          <i class="fa fa-bar-chart" aria-hidden="true"></i>
          Grow |  </span>
        <span>
          <i class="fa fa-trophy" aria-hidden="true"></i>
          Achieve</h5></span>
      </div>
      <br>
      <div class="col-6 col-md-3">
        <h5 class="text-uppercase mb-4 mt-4">Quick Links</h5>
        <ul class="list-unstyled">
          <li class="m-2">
            <a class="text-white" href="#!"><i class="fa fa-arrow-right" aria-hidden="true"></i> Courses</a>
          </li>
          <li class="m-2">
            <a class="text-white" href="#!"><i class="fa fa-arrow-right" aria-hidden="true"></i> About Us</a>
          </li>
          <li class="m-2">
            <a class="text-white" href="#!"><i class="fa fa-arrow-right" aria-hidden="true"></i> Become a Teacher</a>
          </li>
          <li class="m-2">
            <a class="text-white" href="#!"><i class="fa fa-arrow-right" aria-hidden="true"></i> Contact</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md-3">
        <h5 class="text-uppercase mb-4 mt-4">Support</h5>
        <ul class="list-unstyled">
          <li class="m-2">
            <a class="text-white" href="#!"><i class="fa fa-arrow-right" aria-hidden="true"></i> FAQ</a>
          </li>
          <li class="m-2">
            <a class="text-white" href="#!"><i class="fa fa-arrow-right" aria-hidden="true"></i> Career</a>
          </li>
          <li class="m-2">
            <a class="text-white" href="#!"><i class="fa fa-arrow-right" aria-hidden="true"></i> Management</a>
          </li>
          <li class="m-2">
            <a class="text-white" href="#!"><i class="fa fa-arrow-right" aria-hidden="true"></i> Contact</a>
          </li>
        </ul>
      </div>
    </div>
    </div>


    <style>
    .scroll-top{
      position: fixed;
        bottom: 20px;
        right: 40px;
        z-index: 99;
        background: #598048;
        color: #fff;
        padding: 15px;
        font-weight: bold;
        line-height: normal;
        border: none;
    }
    .scroll-top:hover{
        color: white;
    }
    </style>
    <a class="scroll-top shadow" href="#toTop"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
  


  </section>
    <div class="text-center text-white" style="padding: 1.5%; background-color: rgb(7, 7, 7);">
     <small class="text-muted">© 2020  7x Study - Learn, grow, achieve! All rights reserved.</small>
    </div>
  
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script
        src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"
      ></script>



      <!--  -->

<script src="https://www.jqueryscript.net/demo/JSON-Autocomplete-Fuzzy-Search-jQuery-fuzzyComplete/fuse.min.js"></script>
<script src="https://www.jqueryscript.net/demo/JSON-Autocomplete-Fuzzy-Search-jQuery-fuzzyComplete/dist/js/fuzzycomplete.min.js"></script>
      <script src="../js/cities.js"></script>
      <script src="../js/main.js"></script>
    </body>
  </html>