<%- include('partials/head'); %>
<%- include('partials/nav'); %>
<%- include('partials/cart-modal'); %>

<section>
    <div class="jumbotron jumbotron-fluid jumbotron-top mt-3">
        <div class="jumbo-text text-center">
            <h1>About Us</h1>
        </div>
    </div>
</section>


<style>
    .card-header {
        font-size: 1.8rem;
        text-align: center;
        font-weight: 400;
    }
    .card-phone{
        font-size: 2rem;
        float: right;
    }
</style>


<div class="container">

<h1>About Us</h1>

7xstudy was started in 2017 by bringing together a group of IITians with a single objective of 
making students fall in love with their studies and acheive their full potential. We focus on the practical aspects and the applications of the concepts instead of rote learning.
<br>
<br>

<h1>Our Unique Methodology for Online classes</h1>
We share a two-way interactive file between students and teachers. This enables the teachers to see
the notes being written by the students in real-time. The teacher can see student's approach as they solve 
questions during the class. The teacher knows exactly what is going on in the student's mind and can catch gaps in
student's understanding of the concept very early on.
<br>
<br>

</div>


<%- include('partials/footer'); %>
