<%- include('partials/head'); %>
<%- include('partials/topNav'); %>
<%- include('partials/nav'); %>


<section>
  <div class="jumbotron jumbotron-fluid jumbotron-top">
    <div class="jumbo-text text-center">
      <h1>Contact Us</h1>
    </div>
  </div>
</section>












<%- include('partials/footer'); %>