<%- include('partials/head'); %>
<%- include('partials/nav'); %>
<%- include('partials/cart-modal'); %>

<section>
    <div class="jumbotron jumbotron-fluid jumbotron-top mt-3">
        <div class="jumbo-text text-center">
            <h1>FAQs</h1>
        </div>
    </div>
</section>


<style>
    .card-header {
        font-size: 1.8rem;
        text-align: center;
        font-weight: 400;
    }
    .card-phone{
        font-size: 2rem;
        float: right;
    }
</style>


<div class="container">

<h1>Frequently asked questions</h1>
<br>
<br>
<h3>Q. How is 7xStudy different from other online education platforms?</h3>
<br>
7xStudy is unique because of our teaching methodology and our teaching philosophy.
<br>
<br>
<h5>Teaching methodology – All things LIVE!</h5>
<br>
7xStudy has revolutionized the online teaching space with <b>two-way</b> interactive technology that not only mimics the classroom environment but is actually better than it. Let’s understand how. 
<br>
<li><b>Live doubt clearing</b>: Teacher teaches the student over a video call. The student can interrupt the teacher and ask the doubts as the teacher is teaching.</li>

<li><b>Live assessment of notes and practice problems</b>: Students write using a pen-tablet or stylus. The teacher is also able to look at the students’ notes and their approach to problem solving in real-time.</li>

<li><b>Live Test assessment</b>: During tests, the teacher can look at the answers that the child is writing using a pen-tablet or stylus in real time and hence understand his approach to solving problems</li>

<li><b>Live Test discussions</b>: Discussion of the tests happen immediately after the tests for maximum impact</li>

<li><b>Class discipline</b>: All the classes are recorded to ensure discipline and smooth running of classes</li>

<br>
<br>
<h5>Teaching philosophy – Strong foundations!</h5>
We focus more on building the foundation using logic rather than rote learning. Teachers observe the approach taken by the student to understand the concepts and solve the problems. They identify the weak areas and strengthen them so that the child actually likes the subject rather than fear it.

<br>
<br>
<h3>Q. How do parents and children keep track of the classes?</h3>
A schedule will be decided based on the student-teacher preferences. A Whatsapp group will be created for easy interaction between us and the parent/child. Assigned class coordinator will send class reminders on the whatsapp group a few hours before the class.
<br>
<br>

<h3>Q. How does the two-way interactive technology work?</h3>
We share a two-way interactive file with students. The students make their notes and solve practice problems on that file with the help of a stylus or a pen tablet. The teachers can see everything written on this file in real time. All tests are conducted on this file interactive file. We advise the students to make notes on this file as well so that the teacher can correct them if required.
<br>
<br>
<br>
<h2>Payments Methodology</h2>
<br>
<h3>Q. What modes of payments are supported?</h3>
Net banking, Debit cards, Credits cards, various wallets like Mobikwik, Phonepe, Paytm, google pay and a pay later option is supported on our website.

<br>
<br>

<h3>Q. What is the frequency of payments?</h3>
We operate on a prepaid model. The payments are to be made in advance on a monthly basis. The payments you make appear in your 7xStudy wallet. From the wallet we deduct the amount for each class as it happens.
<br>
<br>

<h3>Q. What are the charges?</h3>
Class coordinators will be assigned to each student. The class coordinator will understand the exact requirements of the students and accordingly guide you regarding the fees.

<br>
<br>

</div>


<%- include('partials/footer'); %>
