
<section>
    <div class="jumbotron jumbotron-fluid jumbotron-top">
        <div class="jumbo-text text-center">
            <h1>Log In</h1>
        </div>
    </div>
</section>

<div class="form-border">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <form action="/user/login" method="post">

                <div class="row">

                    <div class="col-12 col-md-10 mx-auto">
                        <%- include('partials/alerts'); %>
                    </div>

                    <div class="col-12 col-md-10 mx-auto">
                        <div class="form-group">
                            <input type="text" name="username" class="form-control my-input"
                                placeholder="Enter Your Username" />
                        </div>
                    </div>

                    <div class="col-12 col-md-10 mx-auto">
                        <div class="form-group">
                            <input type="password" name="password" class="form-control my-input"
                                placeholder="Enter Your Password" />
                        </div>
                    </div>

                    <div class="col-12 col-md-10 mx-auto mb-4">
                        <input type="submit" class="btn btn-block btn-succ" value="Log In"></input>
                    </div>

                    <div class="col-12 col-md-10 mx-auto mb-4">
                        <h6>Don't Have an Account ? <a href="/#contactus"> Contact us </a> !</h6>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


