<%- include('.././partials/head'); %>
<%- include('.././partials/nav'); %>


<section> 
    <div class="jumbotron jumbotron-fluid jumbotron-top">
        <div class="jumbo-text text-center">
            <h1>Register</h1>
        </div>
    </div>
</section>

<div class="form-border">
  <div class="row">
     <div class="col-md-12 mx-auto">

           <form action="/register/" method="post">

            <div class="row">

              <div class="col-12 col-md-5 ml-auto">
               <div class="form-group">
                  <input type="text" name="student_firstname"  class="form-control my-input"  placeholder="First Name">
               </div>
               </div>

               <div class="col-12 col-md-5 mr-auto">
               <div class="form-group">
                <input type="text" name="student_lastname"  class="form-control my-input"  placeholder="Last Name">
               </div>
               </div>


              <div class="col-12 col-md-5 ml-auto">
                <div class="form-group">
                  <input type="email" name="student_email"  class="form-control my-input" placeholder="Email">
               </div>
              </div>

              <div class="col-12 col-md-5 mr-auto">
                <div class="form-group">
                  <input type="number" min="0" name="student_phone" class="form-control my-input" placeholder="Phone">
               </div>
              </div>

              <div class="col-12 col-md-5 ml-auto">
                <div class="form-group">
                  <input type="password" name="student_password"  class="form-control my-input" placeholder="Password">
               </div>
              </div>

              <div class="col-12 col-md-5 mr-auto">
                <div class="form-group">
                  <input type="password" min="0" name="student_confpassword" class="form-control my-input" placeholder="Confirm Password">
               </div>
              </div>

              <div class="col-12 col-md-10 mx-auto">
                
              <a class="text-danger ml-4">
                <% if( msg != ''){ %>
                  <div class="alert alert-danger" role="alert"><%= msg %></div>
                    <% } %>
              </a>

            </div>

              
              <div class="col-12 col-md-10 mx-auto mb-2">

                  <input type="submit" class="btn btn-block btn-succ" value="Create My Account"></input>

              </div>

            </div>

           </form>


           <div class="col-12 col-md-10 mx-auto">
           <p class="small mt-3">By signing up, you are indicating that you have read and agree to the <a href="#" class="ps-hero__content__link">Terms of Use</a> and <a href="#">Privacy Policy</a>.
           </p>

           <div class="d-inline">
               <h6>Have an Account ? <a href="/login/">Log In</a> Here.</h6>
           </div>

           </div>
        
     </div>
  </div>
</div>



<%- include('.././partials/footer'); %>