<!-- button trigger modal -->
<button
  type="button"
  class="btn btn-primary btn-sm"
  data-bs-toggle="modal"
  data-bs-target="#newUser"
>
  Create new user
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="newUser"
  tabindex="-1"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New user</h5>
      </div>
      <div class="modal-body">
        <form id="myForm" action="/user/register" method="post">
          <div class="mb-3">
            <input
              type="text"
              name="fullname"
              class="form-control"
              placeholder="Fullname"
              required
            />
          </div>
          <div class="mb-3">
            <input
              type="text"
              name="username"
              class="form-control"
              placeholder="Username"
              required
            />
          </div>
          <div class="mb-3">
            <input
              type="email"
              name="email"
              class="form-control"
              placeholder="Email"
              required
            />
          </div>
          <div class="mb-3">
            <input
              type="password"
              name="password"
              class="form-control"
              placeholder="Password"
              required
            />
          </div>
          <div class="mb-3" id="A">
            <input
              type="text"
              name="apikey"
              class="form-control"
              placeholder="Api Key"
            />
          </div>
          <div class="mb-3" id="B">
            <input
              type="password"
              name="apisecret"
              class="form-control"
              placeholder="Api Secret"
            />
          </div>
          <div class="mb-3" id="C">
            <label for="select-class">Select Class</label>
            <select class="form-select form-select-sm" name="standard">
              <option disabled selected value="">Choose...</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="">Assign Role</label>
            <div class="form-group">
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="role"
                  id="student"
                  value="student"
                  onchange="hideAB(this)"
                  checked
                />
                <label class="form-check-label" for="student">Student</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="role"
                  id="teacher"
                  value="teacher"
                  onchange="hideC(this)"
                />
                <label class="form-check-label" for="teacher">Teacher</label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" id="newUser_btn">
          Create
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  const btn = document.getElementById("newUser_btn");
  const form = document.getElementById("myForm");
  btn.addEventListener("click", () => {
    form.submit();
  });
  function hideAB(x) {
    if (x.checked) {
      document.getElementById("A").style.display = "none";
      document.getElementById("B").style.display = "none";
      document.getElementById("C").style.display = "block";
    }
  }

  function hideC(x) {
    if (x.checked) {
      document.getElementById("B").style.display = "block";
      document.getElementById("A").style.display = "block";
      document.getElementById("C").style.display = "none";
    }
  }
  hideAB(document.getElementById("student"));
</script>
