<!-- Modal -->
<style>
  .group {
    display: flex;
  }
  .group > * {
    margin-right: 10px;
  }
  input[type="date"] {
    outline: none;
    border: 0.5px solid lightgray;
    border-radius: 6px;
    font-size: 0.8rem;
    padding-left: 5px;
  }
</style>
<div
  class="modal fade"
  id="rescheduleClass"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Reschedule Class</h5>
      </div>
      <div class="modal-body">
        <form
          action="/dashboard/class/<%= cls.id %>/reschedule?_method=PUT"
          method="POST"
        >
          <div class="mb-3">
            <label class="form-label">When</label><br />
            <div class="group">
              <input
                type="date"
                id="date"
                name="date"
                value="<%= cls.when.toISOString().slice(0,10) %>"
              />
              <select
                class="form-select form-select-sm"
                aria-label=".form-select-sm"
                name="time"
                style="width: 100px"
              >
                <option value="12:00" selected>12:00</option>
                <option value="12:30">12:30</option>
                <option value="1:00">1:00</option>
                <option value="1:30">1:30</option>
                <option value="2:00">2:00</option>
                <option value="2:30">2:30</option>
                <option value="3:00">3:00</option>
                <option value="3:30">3:30</option>
                <option value="4:00">4:00</option>
                <option value="4:30">4:30</option>
                <option value="5:00">5:00</option>
                <option value="5:30">5:30</option>
                <option value="6:00">6:00</option>
                <option value="6:30">6:30</option>
                <option value="7:00">7:00</option>
                <option value="7:30">7:30</option>
                <option value="8:00">8:00</option>
                <option value="8:30">8:30</option>
                <option value="9:00">9:00</option>
                <option value="9:30">9:30</option>
                <option value="10:00">10:00</option>
                <option value="10:30">10:30</option>
                <option value="11:00">11:00</option>
                <option value="11:30">11:30</option>
              </select>
              <select
                class="form-select form-select-sm"
                aria-label=".form-select-sm"
                name="A"
                style="width: 100px"
              >
                <option value="AM">AM</option>
                <option value="PM" selected>PM</option>
              </select>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Duration</label><br />
            <div class="group">
              <label for="hrs" class="form-label">Hrs</label>
              <select
                class="form-select form-select-sm"
                aria-label=".form-select-sm"
                name="hrs"
                style="width: 100px"
              >
                <option value="0">0</option>
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
              
              <label for="mins" class="form-label">Mins</label>
              <input
                id="mins"
                class="form-control form-control-sm"
                type="number"
                min="0"
                max="59"
                name="mins"
                style="width: 100px"
              />
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Confirm</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
